.block{
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.custPhoto{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;

}
.customerName{
    font-size: 14px;
    color: darkslategray;
}